/*=====================
    Accordion Scss start
==========================*/
.accordion-button {
    &:focus {
        box-shadow: none;
    }
}
.accordion-style-1 {
    .accordion-item {
        border: none;
        padding-left: 35px;
        + .accordion-item {
            margin-top: 26px;
        }
    }
    .accordion-button {
        padding: 0;
        color: rgba(var(--title-color), 1);
        font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        &:after {
            content: "\EA13";
            font-family: remixicon !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            transform: none;
            background-image: none;
            width: 22px;
            height: 22px;
            background-color: rgba(var(--theme-color3), 1);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(var(--white), 1);
            position: absolute;
            left: -35px;
            top: 2px;
        }
        &:not(.collapsed) {
            background-color: transparent;
            box-shadow: none;
            &:after {
                content: "\F1AE";
            }
        }
    }
    .accordion-body {
        padding: 10px 0 0;
        color: rgba(var(--content-color), 1);
    }
}

.accordion-style-2 {
    .accordion-item {
        background-color: transparent;
        border: none;
    }
    .accordion-button {
        background-color: transparent;
        color: rgba(var(--white), 1);
        padding-left: 0;
        padding-right: 0;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1px solid rgba(var(--white), 0.4);
        box-shadow: none;
        &:after {
            background-image: none;
            transform: none;
            font-family: remixicon !important;
            font-style: normal;
        }
        &:not(.collapsed) {
            &:after {
                content: "\EA13";
            }
        }
    }
    .accordion-body {
        color: rgba(var(--white), 0.7);
        padding-left: 0;
        padding-right: 0;
        font-size: 18px;
        font-weight: 500;
    }
}
