/*=====================
    Button Scss start
==========================*/

.btn {
    padding: 11px 26px;
    font-size: 18px;
    line-height: 23px;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: max-content;
    &.btn-lg {
        padding: 16px 30px;
    }
}

.btn-color1 {
    box-shadow: 0px 8px 20px 0px rgba(var(--theme-color1), 0.1);
    background: linear-gradient(
        to right,
        rgba(var(--theme-color1), 0.65) 0%,
        rgba(var(--theme-color1), 1) 51%,
        rgba(var(--theme-color1), 0.65) 100%
    );
    color: rgba(var(--white), 1);
    background-size: 300% 100%;
    transition: all 0.4s ease-in-out;
    &:hover {
        background-position: 100% 0;
        transition: all 0.4s ease-in-out;
        box-shadow: 0px 8px 20px 0px rgba(var(--theme-color1), 0.2);
        color: rgba(var(--white), 1);
        transform: translateY(-4px);
    }
}

.btn-color2 {
    box-shadow: 0px 8px 20px 0px rgba(var(--theme-color2), 0.1);
    background: radial-gradient(
        59.91% 858.55% at 27.36% 100%,
        rgba(var(--theme-color2), 1) 0%,
        rgba(var(--theme-color2), 0.65) 100%
    );
    color: rgba(var(--white), 1);
    background-size: 300% 100%;
    transition: all 0.4s ease-in-out;
    &:hover {
        background-position: 100% 0;
        transition: all 0.4s ease-in-out;
        box-shadow: 0px 8px 20px 0px rgba(var(--theme-color2), 0.2);
        color: rgba(var(--white), 1);
        transform: translateY(-4px);
    }
}

.play-btn {
    color: rgba(var(--title-color));
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    span {
        margin-right: 14px;
        width: 55px;
        height: 55px;
        border-radius: 100%;
        box-shadow: 0px 15px 20px rgba(var(--black), 0.05);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        i {
            color: rgba(var(--theme-color1), 1);
            font-size: 28px;
        }
    }
    &:hover {
        color: rgba(var(--theme-color2), 1);
        transition: all 0.5s ease;
        span {
            box-shadow: 0px 7px 20px rgba(var(--black), 0.14);
            transition: all 0.5s ease;
            transform: translateY(-5px);
        }
    }
}
