/*=====================
    form Scss start
==========================*/
.form-style-1 {
    .form-control {
        border-radius: 5px;
        border: none;
        background-color: rgba(var(--white), 0.15);
        font-size: 16px;
        color: rgba(var(--white), 1);
        font-weight: 500;
        padding: 13px;
        position: relative;
        &::placeholder {
            color: rgba(var(--white), 0.7);
        }
        &:focus {
            box-shadow: none;
        }
    }
    .form-group {
        position: relative;
        .action-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 14px;
            color: #f99313;
            font-weight: 500;
        }
    }
    .form-check {
        .form-check-label {
            color: rgba(var(--white), 0.7);
            font-size: 16px;
            font-weight: 500;
        }
    }
}
