/*=====================
    form Scss start
==========================*/
.form-style-1 {
    .form-control {
        border-radius: 5px;
        border: none;
        background-color: rgba(var(--white), 0.2);
        font-size: 16px;
        color: rgba(var(--white), 1);
        font-weight: 500;
        &::placeholder {
            color: rgba(var(--white), 0.7);
        }
    }
}
