/*=====================
    Slider Scss start
==========================*/

.swiper-arrow-round {
    .swiper-button-next,
    .swiper-button-prev {
        width: 48px;
        height: 48px;
        border: 1px solid #bdbbd4;
        border-radius: 100%;
    }
    .swiper-button-next {
        &:after {
            content: "\EA6C";
            font-family: remixicon !important;
            font-style: normal;
        }
    }
    .swiper-button-prev {
        &:after {
            content: "\EA60";
            font-family: remixicon !important;
            font-style: normal;
        }
    }
}
