/*=====================
    Slider Scss start
==========================*/

.swiper-button-next {
    &:after {
        content: "\EA6C";
        font-family: remixicon !important;
        font-style: normal;
    }
}
