/*=====================
    Tabs Scss start
==========================*/
.tab-style-1 {
    &.nav-tabs {
        border: none;
        > li {
            margin: 0 5px;
        }
        .nav-link {
            border: none;
            font-size: 18px;
            color: rgba(var(--title-color), 1);
            font-weight: 500;
            padding: 0;
            span {
                padding: 40px 26px;
                display: block;
                clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
                background-color: rgba(var(--white), 1);
            }
            &.active {
                color: rgba(var(--theme-color2), 1);
                background: #ffffff;
                filter: drop-shadow(0px 14px 20px rgba(var(--theme-color2), 0.06));
            }
        }
    }
}
