/*=====================
    Tabs Scss start
==========================*/
.tab-style-1 {
    &.nav-tabs {
        border: none;
        .nav-link {
            border: none;
            font-size: 18px;
            color: rgba(var(--title-color), 1);
            font-weight: 500;
            padding: 40px 26px;
        }
    }
}
