node_modules
gulpfile.js
package.json
.history/
.history/assets/scss/components/_custom-cursor_20221125115854.scss
.history/assets/scss/components/_custom-cursor_20221125115855.scss
.history/assets/scss/components/_custom-cursor_20221125115933.scss
.history/assets/scss/components/_custom-cursor_20221125120214.scss
.history/assets/scss/components/_custom-cursor_20221125134033.scss
.history/assets/scss/components/_title_20221117162630.scss
.history/assets/scss/components/_title_20221118111529.scss
.history/assets/scss/components/_title_20221118113513.scss
.history/assets/scss/style_20221117175353.scss
.history/assets/scss/style_20221118113239.scss
.history/assets/scss/style_20221119095019.scss
.history/assets/scss/components/_custom-cursor_20221125115854.scss
.history/assets/scss/components/_custom-cursor_20221125115855.scss
.history/assets/scss/components/_custom-cursor_20221125115933.scss
.history/assets/scss/components/_custom-cursor_20221125120214.scss
.history/assets/scss/components/_custom-cursor_20221125134033.scss
.history/assets/scss/components/_title_20221117162630.scss
.history/assets/scss/components/_title_20221118111529.scss
.history/assets/scss/components/_title_20221118113513.scss
.history/assets/scss/style_20221117175353.scss
.history/assets/scss/style_20221118113239.scss
.history/assets/scss/style_20221119095019.scss
