/*=====================
    Variables start
==========================*/

// font family
$dm-sans: "DM Sans", sans-serif;
$space-grotesk: "Space Grotesk", sans-serif;
$public-sans: "Public Sans", sans-serif;
$herr-von: "Herr Von Muellerhoff", cursive;
$prata: "Prata", serif;
$raleway: "Raleway", sans-serif;
$playfair-display: "Playfair Display", serif;
$karla: "Karla", sans-serif;

// icon font family
$remixicon: remixicon !important;

// marketing agency variables
:root {
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --title-color: 0, 2, 72;
    --content-color: 125, 126, 162;
    --theme-color1: 255, 33, 33;
    --theme-color2: 109, 89, 255;
    --theme-color3: 33, 189, 150;
}
