/*=====================
    App showcase Scss start
==========================*/
.app-about-section {
    .about-img {
        position: relative;
        .about-img1 {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        .about-img2 {
            position: absolute;
            right: 0;
        }
    }
}
