/*=====================
    App showcase Scss start
==========================*/
.app-about-section {
    .about-img1 {
        position: absolute;
        left: 30px;
        top: 33%;
    }
    .about-img2 {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
}
