/*=====================
    Marketing Scss start
==========================*/
// about section
.about-img {
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: none;
    position: relative;
    .animated-shapes {
        .letter {
            position: absolute;
            right: 0%;
            top: 37%;
        }
    }
}
