/*=====================
    Marketing Scss start
==========================*/
// about section
.about-img {
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: none;
    position: relative;
}

.sale-growth-sec {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f6f7ff;
        top: 0;
        z-index: -1;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
    }
    .animated-shapes {
        .letter {
            position: absolute;
            right: 0%;
            top: 37%;
        }
        .dots-shape {
            position: absolute;
            left: 64%;
            top: -5px;
            z-index: -1;
        }
        .plus-shape {
            position: absolute;
            left: 20%;
        }
    }
    .sales-growth-content {
        display: flex;
        align-items: center;
        height: 100%;
    }
}
