.app-showcase {
    --title-color: 1, 1, 1;
    --content-color: 82, 82, 108;
    --theme-color1: 0, 144, 144;
    --theme-color2: 0, 0, 0;
    --theme-color3: 255, 125, 5;
}

.fitness-layout {
    --title-color: 19, 39, 66;
    --content-color: 112, 112, 112;
    --theme-color1: 255, 127, 109;
    --theme-color2: 19, 39, 66;
    --theme-color3: 45, 167, 113;
}

.ecommerce-layout {
    --title-color: 17, 16, 19;
    --content-color: 99, 93, 111;
    --theme-color1: 34, 144, 153;
    --theme-color2: 17, 16, 19;
    --theme-color3: 45, 167, 113;
}

.podcast-layout {
    --title-color: 19, 39, 66;
    --content-color: 99, 93, 111;
    --theme-color1: 48, 80, 125;
    --theme-color2: 255, 104, 83;
    --theme-color3: 45, 167, 113;
}

.masonry-layout {
    --title-color: 0, 0, 0;
    --content-color: 23, 23, 23;
    --theme-color1: 0, 0, 0;
    --theme-color2: 23, 23, 23;
}

.charity-layout {
    --title-color: 27, 27, 27;
    --content-color: 95, 95, 95;
    --theme-color1: 1, 83, 102;
    --theme-color2: 255, 85, 99;
}

.business-layout {
    --title-color: 5, 14, 18;
    --content-color: 82, 82, 108;
    --theme-color1: 255, 73, 39;
    --theme-color2: 36, 119, 255;
    --theme-color3: 249, 147, 19;
}

.saas-layout {
    --title-color: 0, 2, 72;
    --content-color: 82, 82, 108;
    --theme-color1: 113, 101, 252;
    --theme-color2: 255, 182, 66;
    --theme-color3: 102, 195, 113;
}

.seo-layout {
    --title-color: 5, 14, 18;
    --content-color: 55, 62, 65;
    --theme-color1: 38, 103, 255;
    --theme-color2: 252, 114, 26;
    --theme-color3: 255, 187, 11;
}

// utils scss files
@import "utils/variables";

// Vendors scss files
@import "vendors/aos";

// base scss files
@import "base/reset";
@import "base/typography";

// components scss files
@import "components/button";
@import "components/accordion";
@import "components/animation";
@import "components/progressbar";
@import "components/title";
@import "components/tabs";
@import "components/form";
@import "components/slider";
@import "components/custom-cursor";
@import "components/switch";
@import "components/ratio";

// layout scss files
@import "layout/nav";
@import "layout/header";
@import "layout/home";
@import "layout/logo";
@import "layout/service";
@import "layout/features";
@import "layout/pricing";
@import "layout/testimonial";
@import "layout/team";
@import "layout/career";
@import "layout/blog";
@import "layout/footer";
@import "layout/backtotop";
@import "layout/process";
@import "layout/app";
@import "layout/category";
@import "layout/about";
@import "layout/banner";
@import "layout/newsletter";
@import "layout/player";

// pages
@import "pages/marketing";
@import "pages/app-showcase";
@import "pages/fitness";
@import "pages/ecommerce-layout";
@import "pages/podcast";
@import "pages/masonry";
@import "pages/charity";
@import "pages/business-agency";
@import "pages/saas";
@import "pages/seo";

// themes scss files