/*=====================
    Animation Scss start
==========================*/
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.8, 0.8);
    }

    50% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(0.8, 0.8);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomInSlow {
    0% {
        opacity: 0;
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
    }
}


@keyframes mymove {
    50% {
        transform: rotate(180deg);
    }
}

@keyframes myroate {
    50% {
        transform: rotate(40deg);
    }
}

@keyframes transform {

    0%,
    100% {
        border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
    }

    20% {
        border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
    }

    40% {
        border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
    }

    60% {
        border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
    }

    80% {
        border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    25% {
        transform: rotate3d(0, 0, 1, 90deg);
    }

    50% {
        transform: rotate3d(0, 0, 1, 180deg);
    }

    75% {
        transform: rotate3d(0, 0, 1, 270deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes slideUp {
    0% {
        top: -3%;
    }

    50% {
        top: 0;
    }

    100% {
        top: -3%;
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-8px);
    }
}

@keyframes rotate-effect {
    0% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}