/*=====================
    Slider Scss start
==========================*/

.swiper-arrow-round {
    position: relative;
    .swiper-button-next,
    .swiper-button-prev {
        width: calc(38px + (48 - 38) * ((100vw - 320px) / (1920 - 320)));
        height: calc(38px + (48 - 38) * ((100vw - 320px) / (1920 - 320)));
        border: 1px solid rgba(var(--title-color), 0.1);
        border-radius: 100%;
        right: unset;
        top: unset;
        bottom: unset;
        top: unset;
        z-index: unset;
        position: relative;
        margin-top: 0;
        transform: none;
        &:after {
            font-family: remixicon !important;
            font-style: normal;
            font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--content-color), 1);
        }
    }
    .swiper-button-next {
        &:after {
            content: "\EA6C";
        }
    }
    .swiper-button-prev {
        &:after {
            content: "\EA60";
        }
    }
    .swiper-buttons {
        margin-top: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(18px + (25 - 18) * ((100vw - 320px) / (1920 - 320)));
    }
}

.arrow-style-1 {
    .swiper-button-next,
    .swiper-button-prev {
        bottom: 30px;
        &:after {
            content: "\EA5F";
            font-family: remixicon !important;
            font-style: normal;
            color: rgba(var(--title-color), 1);
            font-size: 22px;
        }
    }
    .swiper-button-prev {
        left: calc(50% - 35px);
        right: unset;
        top: unset;
        &:after {
            content: "\EA5F";
        }
    }
    .swiper-button-next {
        right: calc(50% - 35px);
        left: unset;
        top: unset;
        &:after {
            content: "\EA6B";
        }
    }
}
