/*=====================
    Tabs Scss start
==========================*/
.tab-style-1 {
    &.nav-tabs {
        border: none;
        margin: 0 -5px;

        @media (max-width: 1400px) {
            margin: 0 -3px;
        }

        @media (max-width: 767px) {
            margin-top: 6px;
        }

        >li {
            margin: 0 5px;

            @media (max-width: 1400px) {
                margin: 0 3px;
            }
        }

        .nav-link {
            border: none;
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--title-color), 1);
            font-weight: 500;
            padding: 0;

            span {
                padding: 40px 26px;
                display: block;
                clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
                background-color: rgba(var(--white), 1);

                @media (max-width: 1400px) {
                    padding: 30px 16px;
                }

                @media (max-width: 767px) {
                    padding: 10px 13px;
                }
            }

            &.active {
                color: rgba(var(--theme-color2), 1);
                background: rgba(var(--white), 1);
                filter: drop-shadow(0px 14px 20px rgba(var(--theme-color2), 0.06));
            }
        }
    }
}

.tab-style-2 {
    &.nav-tabs {
        display: flex;
        margin: 0 auto;
        overflow: auto;
        width: max-content;
        flex-wrap: nowrap;

        @media (max-width: 576px) {
            width: 100%;
        }

        .nav-item {
            width: 100%;
            white-space: nowrap;
        }

        .nav-link {
            border: none;
            margin: 0;
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--content-color), 1);
            font-weight: 500;
            position: relative;

            &:after {
                width: 52px;
                height: 3px;
                background-color: rgba(var(--theme-color3), 1);
                border-radius: 10px 10px 0 0;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            &.active {
                color: rgba(var(--theme-color3), 1);

                &:after {
                    content: "";
                }
            }
        }
    }
}

.tab-style-3 {
    &.nav-tabs {
        display: flex;
        margin: 0 auto;
        overflow: auto;
        width: max-content;
        flex-wrap: nowrap;
        gap: calc(20px + (45 - 20) * ((100vw - 320px) / (1920 - 320)));
        border-bottom: none;
        margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));

        .nav-item {
            width: 100%;
            white-space: nowrap;
        }

        .nav-link {
            border: none;
            margin: 0;
            font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--content-color), 1);
            font-weight: 500;
            position: relative;
            padding: 0;

            &.active {
                color: rgba(var(--theme-color1), 1);
            }
        }
    }
}

.tab-style-4 {
    &.nav-tabs {
        display: flex;
        margin: 0 auto 30px;
        overflow: auto;
        width: max-content;
        flex-wrap: nowrap;

        @media (max-width: 576px) {
            width: 100%;
        }

        .nav-item {
            width: 100%;
            white-space: nowrap;
        }

        .nav-link {
            border: none;
            margin: 0;
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--content-color), 1);
            font-weight: 600;
            position: relative;
            text-transform: capitalize;

            &:after {
                width: 100%;
                height: 2px;
                background-color: rgba(var(--theme-color1), 1);
                border-radius: 0;
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
            }

            &:before {
                width: 100%;
                height: 100%;
                background-color: rgba(var(--theme-color1), 1);
                border-radius: 0;
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                background: linear-gradient(0deg,
                        rgba(var(--theme-color1), 0.15) -63.83%,
                        rgba(var(--theme-color1), 0) 71.28%);
            }

            &.active {
                color: rgba(var(--theme-color1), 1);

                &:after {
                    content: "";
                }

                &:before {
                    content: "";
                }
            }
        }
    }
}

.tab-style-5 {
    width: max-content;
    margin: 0 auto;
    background-color: rgba(var(--white), 0.16);
    border-radius: 50px;
    overflow: hidden;
    border: none;
    position: relative;
    z-index: 1;

    &.right {
        &::after {
            left: calc(50% + 5px);
            transition: all 0.5s ease;
        }
    }

    &::after {
        content: "";
        background-color: rgba(var(--white), 1);
        width: calc(50% - 10px);
        height: 80%;
        position: absolute;
        left: 5px;
        top: 50%;
        z-index: -1;
        border-radius: 40px;
        transform: translateY(-50%);
        box-shadow: 0px 3.27px 3.27px rgba(var(--black), 0.25);
        transition: all 0.5s ease;
    }

    .nav-link {
        border: none;
        box-shadow: none;
        color: rgba(var(--white), 1);
        background-color: transparent;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        padding-block: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &.active {
            background-color: transparent;
            color: rgba(var(--theme-color2), 1);
        }
    }
}

.tab-vertical {
    border-bottom: none;

    @media (max-width: 991px) {
        flex-direction: unset !important;
        flex-wrap: unset;
        gap: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
        overflow-x: auto;
        overflow-y: hidden;
    }

    .nav-item {
        +.nav-item {
            margin-top: 20px;

            @media (max-width: 991px) {
                margin-top: 0;
            }
        }

        button {
            width: 100%;
            box-shadow: 0 18px 30px rgba(var(--theme-color2), 0.06);
            border: none;
            padding: 15px 20px;
            text-align: left;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 500;
            color: rgba(var(--content-color), 1);
            background-color: rgba(var(--white), 1);

            @media (max-width: 1199px) {
                font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
                padding: calc(8px + (11 - 8) * ((100vw - 320px) / (1920 - 320))) calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            }

            @media (max-width: 991px) {
                white-space: nowrap;
            }

            &.active {
                color: rgba(var(--theme-color2), 1);
                position: relative;
                overflow: hidden;

                &:after {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 58%;
                    background-color: rgba(var(--theme-color2), 1);
                    border-radius: 4px;
                    left: -11px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }


    }
}

.tab-vertical2 {
    .nav-link {
        text-align: left;
        background-color: rgba(var(--white), 1);
        font-size: 18px;
        font-weight: 500;
        padding: 16px 22px;
        border-radius: 6px;
        overflow: hidden;
        color: rgba(var(--title-color), 1);
        box-shadow: 0 22px 20px 0 rgba(2, 161, 197, 0.05);
        position: relative;

        &.active,
        &:hover {
            background-color: rgba(var(--white), 1);
            color: rgba(var(--theme-color1), 1);
            transition: all 0.5s ease;

            &:after {
                content: "";
                width: 4px;
                height: 27px;
                background-color: rgba(var(--theme-color1), 1);
                border-radius: 5px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.5s ease;
            }

            &:before {
                content: "";
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-left: 12px solid rgba(var(--theme-color1), 1);
                border-bottom: 8px solid transparent;
                position: absolute;
                right: 25px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.5s ease;
            }
        }


        +.nav-link {
            margin-top: 20px;
        }
    }
}

.tab-pane {
    &.show {
        .product-box {
            animation: zoomIn 300ms ease-in-out;
        }
    }
}