/*=====================
    Title Scss start
==========================*/
.title-style-1 {
    margin-bottom: 50px;

    @media (max-width: 1400px) {
        margin-bottom: 20px;
    }

    h2 {
        width: 90%;
        text-transform: capitalize;

        @media (max-width: 1199px) {
            width: 100%;
        }
    }

    h5 {
        color: rgba(var(--theme-color3), 1);
        display: inline-block;
        position: relative;
        padding-left: 10px;

        &:after {
            content: "";
            height: 25px;
            left: 0;
            position: absolute;
            top: -3px;
            width: 44%;
            background-color: rgba(var(--theme-color3), 0.1);

            @media (max-width: 991px) {
                width: 62%;
            }
        }
    }

    p {
        font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        margin-top: 12px;
        width: 88%;
        margin-bottom: 0;

        @media (max-width: 1199px) {
            width: 100%;
        }
    }

    &.text-center {
        h2 {
            width: 100%;
        }

        p {
            margin: 12px auto 0;
            width: 46%;

            @media (max-width: 1400px) {
                width: 56%;
            }

            @media (max-width: 1199px) {
                width: 66%;
            }

            @media (max-width: 1199px) {
                width: 100%;
            }
        }
    }

    &.text-light {
        h2 {
            color: rgba(var(--white), 1);
        }

        p {
            color: rgba(var(--white), 0.95);
        }
    }

    &.center-a-xl {
        @media (max-width: 1199px) {
            text-align: center;

            h2 {
                margin: 0 auto;
            }

            p {
                width: 70%;
                margin: 0 auto;

                @media (max-width: 991px) {
                    width: 100%;
                }
            }
        }
    }
}

// app showcase
.title-style-2 {
    margin-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));

    &.text-center {
        h2 {
            &:after {
                transform: translateX(-50%);
                left: 50%;
            }
        }
    }

    .sub-title {
        color: rgba(var(--theme-color1), 1);
        position: relative;
        display: inline-block;
        gap: 10px;
        padding: 10px 14px;
        background-color: rgba(var(--theme-color1), 0.05);
        border-radius: 30px;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 8px;

        >div {
            display: flex;
            align-content: center;
            gap: 10px;
        }

        .round {
            width: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
            height: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
            border: 2px solid rgba(var(--theme-color1), 1);
            border-radius: 100%;
            position: relative;
            display: inline-block;

            span {
                width: calc(5px + (7 - 5) * ((100vw - 320px) / (1920 - 320)));
                height: calc(5px + (7 - 5) * ((100vw - 320px) / (1920 - 320)));
                background-color: rgba(var(--theme-color1), 1);
                border-radius: 100%;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    h2 {
        margin-bottom: 0;
        position: relative;
        font-family: $space-grotesk;
        text-transform: capitalize;
        font-weight: 700;
        line-height: 1.5;

        &:after {
            content: "";
            position: absolute;
            width: 65px;
            height: 6px;
            background-image: url("../svg/shapes/highlight-sm.svg");
            bottom: -5px;
            left: 0;
        }
    }

    p {
        margin-bottom: 0;
        margin-top: 20px;
        width: 50%;
        font-weight: 500;

        @media (max-width: 991px) {
            width: 100%;
        }
    }

    &.text-light {
        .sub-title {
            color: rgba(var(--white), 1);
            background-color: rgba(var(--white), 0.1);

            .round {
                border-color: rgba(var(--white), 1);

                span {
                    background-color: rgba(var(--white), 1);
                }
            }
        }
    }
}

// fitness app
.title-style-3 {
    margin-bottom: 35px;
    margin-top: -2px;

    h4 {
        color: rgba(var(--theme-color1), 1);
        font-weight: 500;
        position: relative;
        padding-left: 50px;
        display: inline-block;

        &:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: rgba(var(--theme-color1), 1);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    h2 {
        color: rgba(var(--title-color), 1);
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    p {
        color: rgba(var(--content-color), 1);
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 0;
    }

    &.text-center {
        p {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// ecommerce
.title-style-4 {
    margin-bottom: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320)));

    h4 {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        color: rgba(var(--content-color), 1);
    }

    h2 {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        margin-top: -8px;

        &:after {
            content: "";
            position: absolute;
            background-color: rgba(var(--theme-color1), 0.2);
            height: calc(8px + (14 - 8) * ((100vw - 320px) / (1920 - 320)));
            width: 68%;
            right: 0;
            bottom: 4px;
        }
    }

    p {
        font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        margin-bottom: 0;
    }
}

// podcast
.title-style-5 {
    margin-bottom: calc(16px + (36 - 16) * ((100vw - 320px) / (1920 - 320)));

    h5 {
        color: rgba(var(--theme-color2), 1);
        margin-bottom: 0;
    }

    h2 {
        color: rgba(var(--title-color));
        position: relative;
        margin-top: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: 0;
        width: 94%;
        text-transform: capitalize;

        @media (max-width: 991px) {
            width: 60%;
        }

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    p {
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
        margin: 12px 0;
        width: 65%;

        @media (max-width: 991px) {
            width: 95%;
        }
    }

    &.text-center {
        h2 {
            margin-left: auto;
            margin-right: auto;
        }

        p {
            margin: 12px auto;
        }
    }
}

// charity
.title-style-6 {
    margin-bottom: calc(16px + (48 - 16) * ((100vw - 320px) / (1920 - 320)));

    h5 {
        color: rgba(var(--theme-color2), 1);
        margin-bottom: 0;
        font-weight: 500;
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
        margin-top: calc(-2px + (-4 - -2) * ((100vw - 320px) / (1920 - 320)));
    }

    h2 {
        color: rgba(var(--title-color));
        position: relative;
        margin-bottom: 0;
        width: 94%;
        font-size: calc(18px + (60 - 18) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1.3;

        &.font-playfair {
            font-size: calc(18px + (50 - 18) * ((100vw - 320px) / (1920 - 320)));
            margin-top: 6px;
        }
    }

    p {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        margin: 20px 0 0 0;
        width: 70%;

        @media (max-width: 991px) {
            width: 95%;
        }

        @media (max-width: 768px) {
            margin: 10px 0 0;
        }
    }

    &.text-center {
        h2 {
            margin-left: auto;
            margin-right: auto;
        }

        p {
            margin: 20px auto 0;
        }
    }

    &.text-end {

        h2,
        p {
            margin-left: auto;
            width: 100%;
        }
    }

    &.text-start {

        h2,
        p {
            margin-right: auto;
            width: 100%;
        }
    }
}