/**=====================
     About section scss
==========================**/

/* marketing about */
.marketing-about {
    .about-img {
        display: flex;
        align-items: center;
        height: 100%;
        box-shadow: none;
        position: relative;
        img {
            @media (max-width: 991px) {
                width: 70%;
                margin: 0 auto;
            }
        }
    }
}

// app showcase
.app-about-section {
    .about-img {
        position: relative;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        .about-img1 {
            position: absolute;
            left: 30px;
            top: 33%;
            @media (max-width: 991px) {
                left: 20px;
                top: 28%;
            }
            @media (max-width: 576px) {
                display: none;
            }
        }
        .about-img2 {
            position: absolute;
            right: 30px;
            top: 2%;
            @media (max-width: 991px) {
                position: relative;
                right: 0;
                top: 0;
                margin-left: auto;
                float: right;
            }
            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }
    .title-style-2 {
        margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    }
    .about-listing {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 70%;
        margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
        @media (max-width: 1400px) {
            width: 80%;
        }
        @media (max-width: 1199px) {
            width: 100%;
        }
        li {
            width: 48%;
            font-size: 18px;
            font-weight: 700;
            padding-left: 5px;
            display: flex;
            align-items: center;
            gap: 10px;
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
}

// fitness
.fitness-about-section {
    .abt-img {
        position: relative;
        .img-content {
            position: absolute;
            right: 0;
            bottom: 2%;
            background-color: rgba(var(--white), 1);
            padding: 18px;
            display: flex;
            align-items: center;
            gap: 16px;
            .img-icon {
                width: 56px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 14px;
                background: radial-gradient(
                    91.07% 91.07% at 50% 50%,
                    rgba(var(--theme-color1), 0.9) 0%,
                    rgba(var(--theme-color1), 0.6) 100%
                );
                border-radius: 20px;
            }
            .content {
                h3 {
                    font-size: 22px;
                    font-weight: 700;
                    color: rgba(var(--title-color), 1);
                    span {
                        font-size: 18px;
                        font-weight: 500;
                        color: rgba(var(--content-color), 1);
                    }
                }
                h4 {
                    margin-bottom: 0;
                    color: rgba(var(--content-color), 1);
                }
            }
        }
    }
    .abt-content {
        display: flex;
        align-items: center;
        height: 100%;
        .about-listing {
            li {
                font-size: 18px;
                display: flex;
                align-items: center;
                color: rgba(var(--content-color), 1);
                font-weight: 500;
                i {
                    color: rgba(var(--theme-color1), 1);
                    margin-right: 14px;
                }
                + li {
                    margin-top: 15px;
                }
            }
        }
        .user-profile {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 30px;
            img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                object-fit: cover;
            }
            h2 {
                margin-bottom: 0;
                font-family: $herr-von;
                color: rgba(var(--title-color1), 1);
                font-weight: 400;
            }
        }
    }
}

// ecommerce layout
.ecommerce-about-sec {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background-image: url("../images/ecommerce/abt-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        @media (max-width: 1199px) {
            width: 43%;
        }
        @media (max-width: 991px) {
            width: 100%;
            height: 47%;
        }
        @media (max-width: 767px) {
            height: 38%;
        }
        @media (max-width: 576px) {
            display: none;
        }
    }
    .row {
        > div {
            &:nth-child(2) {
                @media (max-width: 576px) {
                    position: relative;
                    padding-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
                    &:after {
                        position: absolute;
                        content: "";
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background-image: url("../images/ecommerce/abt-bg.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        z-index: -1;
                    }
                }
            }
        }
    }
    .animated-effect {
        img {
            position: absolute;
            left: 0;
            top: -33%;
        }
    }
    .abt-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .content-part {
        h4 {
            margin-bottom: 10px;
            color: rgba(var(--content-color), 1);
            font-weight: 500;
            letter-spacing: 0.1em;
        }
        p {
            margin-bottom: 0;
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--title-color), 1);
            font-weight: 500;
        }
        li {
            + li {
                margin-top: 40px;
                @media (max-width: 991px) {
                    margin-top: 20px;
                }
            }
        }
        a {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 700;
            color: rgba(var(--theme-color1), 1);
            margin-top: 22px;
            i {
                transition: all 0.5s ease;
            }
            &:hover {
                i {
                    transform: rotate(45deg);
                }
            }
        }
    }
    .abt-img {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        img {
            @media (max-width: 991px) {
                width: 55%;
                margin: 0 auto;
            }
        }
    }
}

// podcast
.podcast-about-sec {
    position: relative;
    .animated-effect {
        img {
            position: absolute;
            left: -20px;
            bottom: -25%;
            @media (max-width: 1800px) {
                left: -50px;
            }
        }
    }
    .abt-content {
        display: flex;
        align-items: center;
        height: 100%;
        p {
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
            width: 100%;
        }
        .counter-box {
            display: flex;
            align-content: center;
            text-align: left;
            margin-top: 0;
            h2 {
                color: rgba(var(--title-color), 1);
                margin-bottom: 0;
                font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
            }
            h4 {
                color: rgba(var(--content-color), 1);
                margin-bottom: 0;
                margin-top: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
                font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
            }
            li {
                position: relative;
                + li {
                    padding-left: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
                    margin-left: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 22px;
                        background-color: rgba(var(--content-color), 1);
                    }
                }
            }
        }
    }
    .about-img {
        padding-right: 60px;
        position: relative;
        transition: all 0.5s ease;
        @media (max-width: 1199px) {
            padding-right: 30px;
        }
        &:hover {
            transform: scale(1.04);
            .abt-img {
                box-shadow: 0px 9px 40px 8px rgba(var(--title-color), 0.2);
            }
        }
        .abt-img {
            border-radius: 200px 0 0 0;
            @media (max-width: 1199px) {
                border-radius: calc(90px + (130 - 90) * ((100vw - 320px) / (1920 - 320))) 0 0 0;
            }
        }
        .screen-img {
            position: absolute;
            right: 0;
            bottom: 0;
            @media (max-width: 1199px) {
                width: 40%;
            }
        }
        .curve-shape {
            position: absolute;
            left: -20px;
            top: -20px;
        }
        .play-btn {
            width: calc(62px + (102 - 62) * ((100vw - 320px) / (1920 - 320)));
            height: calc(62px + (102 - 62) * ((100vw - 320px) / (1920 - 320)));
            border-radius: 100%;
            background-color: rgba(var(--white), 1);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    &.video-abt {
        .about-img {
            padding-right: 0;
            .abt-img {
                border-radius: 0 200px 0 0;
                @media (max-width: 1199px) {
                    border-radius: 0 calc(90px + (130 - 90) * ((100vw - 320px) / (1920 - 320))) 0 0;
                }
            }
        }
    }
}

// charity about
.counter-box-charity {
    display: flex;
    align-items: center;
    padding: 5px 25px;
    border-left: 3px solid rgba(var(--theme-color2), 1);
    li {
        padding: 20px 16px;
        background-color: rgba(var(--theme-color1), 0.05);
        text-align: center;
        h2 {
            font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--theme-color1), 1);
        }
        + li {
            margin-left: 25px;
        }
    }
}

.charity-about-sec {
    .about-img {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("../images/charity/bg-effect.png");
        }
    }
}
