/**=====================
     About section scss
==========================**/

// marketing about
.marketing-about {
    .about-img {
        display: flex;
        align-items: center;
        height: 100%;
        box-shadow: none;
        position: relative;
        img {
            @media (max-width: 991px) {
                width: 70%;
                margin: 0 auto;
            }
        }
    }
}

// app showcase
.app-about-section {
    .about-img {
        position: relative;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        .about-img1 {
            position: absolute;
            left: 30px;
            top: 33%;
            @media (max-width: 991px) {
                left: 20px;
                top: 28%;
            }
            @media (max-width: 576px) {
                display: none;
            }
        }
        .about-img2 {
            position: absolute;
            right: 30px;
            top: 2%;
            @media (max-width: 991px) {
                position: relative;
                right: 0;
                top: 0;
                margin-left: auto;
                float: right;
            }
            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }
    .title-style-2 {
        margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    }
    .about-listing {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 70%;
        margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
        @media (max-width: 1400px) {
            width: 80%;
        }
        @media (max-width: 1199px) {
            width: 100%;
        }
        li {
            width: 48%;
            font-size: 18px;
            font-weight: 700;
            padding-left: 5px;
            display: flex;
            align-items: center;
            gap: 10px;
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
}

// fitness
.fitness-about-section {
    .abt-img {
        position: relative;
        .img-content {
            position: absolute;
            right: 0;
            bottom: 2%;
            background-color: rgba(var(--white), 1);
            padding: 18px;
            display: flex;
            align-items: center;
            gap: 16px;
            .img-icon {
                width: 56px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 14px;
                background: radial-gradient(
                    91.07% 91.07% at 50% 50%,
                    rgba(var(--theme-color1), 0.9) 0%,
                    rgba(var(--theme-color1), 0.6) 100%
                );
                border-radius: 20px;
            }
            .content {
                h3 {
                    font-size: 22px;
                    font-weight: 700;
                    color: rgba(var(--title-color), 1);
                    span {
                        font-size: 18px;
                        font-weight: 500;
                        color: rgba(var(--content-color), 1);
                    }
                }
                h4 {
                    margin-bottom: 0;
                    color: rgba(var(--content-color), 1);
                }
            }
        }
    }
    .abt-content {
        display: flex;
        align-items: center;
        height: 100%;
        .about-listing {
            li {
                font-size: 18px;
                display: flex;
                align-items: center;
                color: rgba(var(--content-color), 1);
                font-weight: 500;
                i {
                    color: rgba(var(--theme-color1), 1);
                    margin-right: 14px;
                }
                + li {
                    margin-top: 15px;
                }
            }
        }
        .user-profile {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 30px;
            img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                object-fit: cover;
            }
            h2 {
                margin-bottom: 0;
                font-family: $herr-von;
                color: rgba(var(--title-color1), 1);
                font-weight: 400;
            }
        }
    }
}

// ecommerce layout
.ecommerce-about-sec {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background-image: url("../images/ecommerce/abt-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        @media (max-width: 1199px) {
            width: 43%;
        }
        @media (max-width: 991px) {
            width: 100%;
            height: 47%;
        }
        @media (max-width: 767px) {
            height: 38%;
        }
        @media (max-width: 576px) {
            display: none;
        }
    }
    .row {
        > div {
            &:nth-child(2) {
                @media (max-width: 576px) {
                    position: relative;
                    padding-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
                    &:after {
                        position: absolute;
                        content: "";
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background-image: url("../images/ecommerce/abt-bg.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        z-index: -1;
                    }
                }
            }
        }
    }
    .animated-effect {
        img {
            position: absolute;
            left: 0;
            top: -33%;
        }
    }
    .abt-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .content-part {
        h4 {
            margin-bottom: 10px;
            color: rgba(var(--content-color), 1);
            font-weight: 500;
            letter-spacing: 0.1em;
        }
        p {
            margin-bottom: 0;
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--title-color), 1);
            font-weight: 500;
        }
        li {
            + li {
                margin-top: 40px;
                @media (max-width: 991px) {
                    margin-top: 20px;
                }
            }
        }
        a {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 700;
            color: rgba(var(--theme-color1), 1);
            margin-top: 22px;
            i {
                transition: all 0.5s ease;
            }
            &:hover {
                i {
                    transform: rotate(45deg);
                }
            }
        }
    }
    .abt-img {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        img {
            @media (max-width: 991px) {
                width: 55%;
                margin: 0 auto;
            }
        }
    }
}
