/*=====================
    Blog Scss start
==========================*/

.blog-style-1 {
    position: relative;
    .news-box {
        background: rgba(var(--white), 1);
        box-shadow: 0px 5px 30px rgba(var(--theme-color2), 0.1);
        border-radius: 5px;
        padding: calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320)))
            calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin: 20px;
        transition: all 0.5s ease;
        h4 {
            color: rgba(var(--content-color), 1);
            margin-bottom: 0;
        }
        p {
            font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;
            margin-top: calc(20px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--title-color), 1);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        a {
            margin-top: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
            font-size: 16px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            gap: 10px;
            color: rgba(var(--title-color), 1);
            width: max-content;
            margin-bottom: -8px;
        }
        &:hover {
            transform: translateY(-8px);
            transition: all 0.5s ease;
            a {
                .arrow-icon {
                    transform: translate3d(5px, 0, 0);
                }

                .arrow-icon--circle {
                    stroke-dashoffset: 0;
                }
            }
        }
    }
    .swiper {
        margin: -20px;
    }
    .blog-effect {
        .line1 {
            position: absolute;
            left: 0;
        }
        .line2 {
            position: absolute;
            right: 0;
            top: -13%;
        }
    }
}

.blog-style-2 {
    margin-bottom: -25px;
    position: relative;
    .blog-box {
        transform: translateY(0);
        transition: all 0.5s ease;
        .blog-img {
            border-radius: 5px;
            overflow: hidden;
        }
        h3 {
            color: rgba(var(--title-color), 1);
            font-weight: 500;
            margin-bottom: 0;
            font-size: calc(17px + (22 - 17) * ((100vw - 320px) / (1920 - 320)));
            transition: all 0.5s ease;
        }
        h5 {
            color: rgba(var(--content-color), 1);
            margin-top: 14px;
            font-weight: 500;
        }
        &:hover {
            transform: translateY(-6px);
            h3 {
                color: rgba(var(--theme-color1), 1);
            }
            .arrow-icon {
                transform: translate3d(5px, 0, 0);
            }

            .arrow-icon--circle {
                stroke-dashoffset: 0;
            }
        }
    }
    .animated-effect {
        img {
            position: absolute;
            left: 0;
            top: 18%;
            &.cap-img {
                left: 2%;
            }
        }
    }
}

.blog-style-3 {
    background: linear-gradient(180deg, #f7f7f7 0%, #ffffff 100%);
    position: relative;
    .news-box {
        .news-img {
            position: relative;
            overflow: hidden;
            &:after {
                height: 100%;
                left: 30px;
                top: -30px;
                position: absolute;
                width: 100%;
                content: "";
                background-color: rgba(255, 255, 255, 0.4);
                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -101%, 0);
                transition: all 0.6s ease-in-out;
            }
        }
        .news-content {
            margin-top: 15px;
            label {
                padding: 5px 14px;
                background-color: rgba(var(--theme-color1), 1);
                color: white;
                font-size: 14px;
                border-radius: 6px;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 15px;
            }
            h3 {
                font-size: 18px;
                margin-bottom: 10px;
            }
            h5 {
                color: rgba(var(--content-color), 1);
                font-weight: 500;
                margin-bottom: 15px;
                span {
                    color: rgba(var(--title-color), 1);
                }
            }
            p {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            a {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 16px;
                color: rgba(var(--title-color), 1);
                margin-bottom: -6px;
                i {
                    transition: all 0.5s ease;
                }
                &:hover {
                    i {
                        transform: rotate(45deg);
                    }
                }
            }
        }
        &:hover {
            .news-img {
                &:after {
                    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 101%, 0);
                }
            }
        }
    }
    .animated-effect {
        img {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.blog-style-4 {
    position: relative;
    .animated-effect {
        img {
            position: absolute;
            top: 8%;
            @media (max-width: 1875px) {
                left: -3%;
            }
            @media (max-width: 1700px) {
                left: -9%;
            }
            @media (max-width: 1600px) {
                left: -15%;
            }
            @media (max-width: 1500px) {
                display: none;
            }
        }
    }
    .ratio_portrait {
        .bg-size {
            &:before {
                padding-top: 140%;
            }
        }
    }
    .blog-box {
        border-radius: 10px;
        position: relative;
        z-index: 1;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(var(--black), 0) 0%, rgba(var(--black), 0.6) 100%);
            border-radius: 10px;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all 0.5s ease;
        }
        .blog-content {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 15px;
            h3 {
                font-size: 22px;
                font-weight: 500;
                color: rgba(var(--white), 1);
                line-height: 1.4;
                @media (max-width: 1400px) {
                    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                }
            }
            .auth-sec {
                display: flex;
                align-items: center;
                gap: 12px;
                img {
                    width: 38px;
                    height: 38px;
                    border-radius: 100%;
                    object-fit: cover;
                }
                h4 {
                    color: rgba(var(--white), 1);
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
        }
        &:hover {
            &:after {
                background: linear-gradient(180deg, rgba(var(--black), 0.6) 0%, rgba(var(--black), 0.9) 100%);
                transition: all 0.5s ease;
            }
        }
    }
}

.arrow-icon {
    position: relative;
    top: -1px;
    transition: transform 0.5s ease;
    vertical-align: middle;
}

.arrow-icon--circle {
    transition: stroke-dashoffset 0.5s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
