/**=====================
     Category section scss
==========================**/
.category-box {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 15px;
     box-shadow: 0px 18px 30px rgba(var(--theme-color1), 0.05);
     border-radius: 5px;
     h3 {
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 8px;
          color: rgba(var(--title-color), 1);
     }
     h4 {
          color: rgba(var(--content-color), 1);
          font-weight: 400;
          margin-bottom: 0;
          font-size: 16px;
     }
     .category-img {
          position: relative;
          &:after {
               content: "";
               width: 60px;
               height: 60px;
               border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
               position: absolute;
               background: linear-gradient(
                    180deg,
                    rgba(var(--theme-color1), 0.3) 0%,
                    rgba(var(--theme-color1), 0) 100%
               );
               left: 50%;
               top: 50%;
               transform: translate(-50%, -50%);
               z-index: -1;
               transition: all 0.5s ease;
          }
     }
}
