/*=====================
    Newsletter Scss start
==========================*/
.fitness-newsletter-section {
    .newletter-box {
        background: rgba(var(--white), 0.7);
        backdrop-filter: blur(5px);
        padding: 70px;
        text-align: center;
        @media (max-width: 991px) {
            padding: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
        }
        h2 {
            font-weight: 500;
            color: rgba(var(--title-color), 1);
            text-transform: uppercase;
            line-height: 1.4;
            @media (max-width: 991px) {
                font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
            }
        }
        h4 {
            font-size: 18px;
            font-weight: 400;
            color: rgba(var(--content-color), 1);
            margin: 0;
            @media (max-width: 991px) {
                font-size: 16px;
                line-height: 1.4;
            }
        }
        form {
            margin: 25px 0 30px;
            @media (max-width: 767px) {
                margin: 20px 0 20px;
            }
            .input-group {
                width: 62%;
                gap: 15px;
                margin: 0 auto;
                @media (max-width: 991px) {
                    width: 80%;
                }
                @media (max-width: 767px) {
                    width: 100%;
                }
                @media (max-width: 576px) {
                    display: block;
                    .form-control {
                        width: 100%;
                        margin-bottom: 14px;
                    }
                    a {
                        margin: 0 auto;
                    }
                }
                .form-control {
                    border-radius: 6px !important;
                    border: none;
                }
                .btn {
                    border-radius: 6px !important;
                    @media (max-width: 576px) {
                        margin: 0 auto !important;
                    }
                }
            }
        }
    }
}

// podcast newsletter
.podcast-newsletter-sec {
    margin-bottom: -100px;
    @media (max-width: 991px) {
        margin-bottom: -80px;
    }
    .newsletter-box {
        background-color: rgba(var(--theme-color1), 1);
        padding: 60px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        @media (max-width: 991px) {
            flex-wrap: wrap;
            gap: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
            padding: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
        }
        &:after {
            content: "";
            position: absolute;
            background-image: url("../svg/podcast/pattern.svg");
            background-position: right;
            background-size: cover;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .content {
            h4 {
                margin-bottom: 0;
            }
        }
        form {
            width: 40%;
            @media (max-width: 991px) {
                width: 100%;
            }
            .form-control {
                background-color: rgba(var(--white), 0.1);
                color: rgba(var(--white), 1);
                font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 500;
                border: none;
                border-radius: 35px;
                padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)))
                    calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
                margin-right: -30px;
                &::placeholder {
                    color: rgba(var(--white), 0.4);
                }
            }
            .btn {
                border-radius: 35px !important;
            }
        }
    }
}
