/*=====================
    Process Scss start
==========================*/
.process-section {
    position: relative;
    .animated-effect {
        img {
            position: absolute;
            right: 0;
            top: -12%;
        }
    }
    .process-box {
        --roundsize: calc(60px + (80 - 60) * ((100vw - 320px) / (1920 - 320)));
        .icon-part {
            margin-bottom: 40px;
            position: relative;
            @media (max-width: 991px) {
                margin-bottom: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
            }
            &:after {
                content: "";
                position: absolute;
                width: calc(100% - var(--roundsize) - 25px);
                height: 1px;
                border-bottom: 1px dashed #64af5b;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
            }
            &:before {
                position: absolute;
                content: "\EA6E";
                font-family: remixicon !important;
                font-style: normal;
                font-size: 20px;
                right: -6px;
                top: 50%;
                transform: translateY(-50%);
                color: #64af5b;
            }
            .icon {
                width: var(--roundsize);
                height: var(--roundsize);
                border-radius: 100%;
                background: linear-gradient(44.99deg, #ebeaea 14.61%, #ffffff 85.32%);
                margin-left: 25px;
                box-shadow: -20px 20px 20px 0px rgba(var(--black), 0.07);
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 1;
                &:after {
                    content: "";
                    width: calc(var(--roundsize) - 6px);
                    height: calc(var(--roundsize) - 6px);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #f9f9f9;
                    border-radius: 100%;
                    z-index: -1;
                }
                &:before {
                    content: "";
                    position: absolute;
                    background-image: url("../svg/app/process/green-pattern.svg");
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
        .process-content {
            h3 {
                color: rgba(var(--title-color), 1);
                font-weight: 500;
                font-family: $space-grotesk;
                font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
            }
            p {
                font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
                color: rgba(var(--content-color), 1);
                font-weight: 500;
                margin-bottom: 0;
            }
        }
    }
    .swiper-slide[aria-label="2 / 5"] {
        .process-box {
            .icon-part {
                &:after {
                    border-color: #007aff;
                }
                &:before {
                    color: #007aff;
                }
                .icon {
                    &:before {
                        background-image: url("../svg/app/process/blue-pattern.svg");
                    }
                }
            }
        }
    }
    .swiper-slide[aria-label="3 / 5"] {
        .process-box {
            .icon-part {
                &:after {
                    border-color: #ffb302;
                }
                &:before {
                    color: #ffb302;
                }
                .icon {
                    &:before {
                        background-image: url("../svg/app/process/orange-pattern.svg");
                    }
                }
            }
        }
    }
    .swiper-slide[aria-label="4 / 5"] {
        .process-box {
            .icon-part {
                &:after {
                    border-color: #ff6461;
                }
                &:before {
                    color: #ff6461;
                }
                .icon {
                    &:before {
                        background-image: url("../svg/app/process/red-pattern.svg");
                    }
                }
            }
        }
    }
    .swiper-slide[aria-label="5 / 5"] {
        .process-box {
            .icon-part {
                &:after {
                    border-color: #9460fb;
                }
                &:before {
                    color: #9460fb;
                }
                .icon {
                    &:before {
                        background-image: url("../svg/app/process/purple-pattern.svg");
                    }
                }
            }
        }
    }
}

// fitness process
.fitness-process-sec {
    .process-box {
        display: flex;
        flex-wrap: wrap;
        .process-content {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .left-content {
                text-align: center;
                span {
                    width: 56px;
                    height: 56px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    color: rgba(var(--title-color), 1);
                    font-weight: 500;
                    margin-bottom: 18px;
                    background-color: rgba(var(--theme-color1), 0.2);
                }
                h6 {
                    color: rgba(var(--title-color), 1);
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
            .right-content {
                padding-left: 20px;
                margin-left: 20px;
                border-left: 1px solid #ddd;
                padding-bottom: 20px;
                h3 {
                    font-size: 26px;
                    font-weight: 500;
                    color: rgba(var(--title-color), 1);
                    margin-bottom: 15px;
                }
                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(var(--title-color), 1);
                }
                a {
                    font-size: 18px;
                    color: rgba(var(--title-color), 1);
                }
            }
        }
        .process-img {
            margin-top: 30px;
            width: 100%;
        }
    }
    .row {
        > div {
            &:nth-child(2) {
                .process-box {
                    .process-img {
                        order: -1;
                        margin-bottom: 30px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
