/*=====================
    Service Scss start
==========================*/
.marketing-service {
    position: relative;
    overflow: hidden;
    .animated-shapes {
        .spiral-shape {
            position: absolute;
            right: -2.5%;
            top: 0;
            @media (max-width: 1199px) {
                right: -10.5%;
            }
        }
        .arrow-shape {
            position: absolute;
            left: -8%;
            top: 12%;
        }
    }
    .row {
        > div {
            &:nth-child(2) {
                .service-box {
                    .service-icon {
                        &:after {
                            background: linear-gradient(180deg, #fff6dd 0%, #fbeef8 100%);
                        }
                    }
                }
            }
            &:nth-child(3) {
                .service-box {
                    .service-icon {
                        &:after {
                            background: linear-gradient(180deg, #f6f4ff 0%, #e2f3ff 100%);
                        }
                    }
                }
            }
            &:nth-child(4) {
                .service-box {
                    .service-icon {
                        &:after {
                            background: linear-gradient(180deg, #f5f3ff 0%, #ffe9e9 100%);
                        }
                    }
                }
            }
        }
    }
    .service-box {
        position: relative;
        text-align: center;
        filter: drop-shadow(0 24px 30px rgba(var(--theme-color2), 0.07));
        &:after {
            border: 2px solid rgba(var(--black), 1);
            content: "";
            height: 90%;
            left: 10px;
            position: absolute;
            top: 20px;
            transform: rotate(0deg);
            width: 90%;
            z-index: -1;
            transition: all 0.5s ease;
        }
        > div {
            clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
            padding: 35px 20px;
            background: rgba(var(--white));
        }
        .service-icon {
            position: relative;
            width: auto;
            display: inline-block;
            z-index: 1;
            padding-left: calc(40px + (50 - 40) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(45px + (55 - 45) * ((100vw - 320px) / (1920 - 320)));
            &::after {
                content: "";
                background: linear-gradient(180deg, #e6fffe 0%, #e9ebff 100%);
                height: calc(86px + (96 - 86) * ((100vw - 320px) / (1920 - 320)));
                left: 6px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: calc(65px + (75 - 65) * ((100vw - 320px) / (1920 - 320)));
                z-index: -1;
                clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
            }
        }
        .service-content {
            h3 {
                font-weight: 600;
            }
            p {
                font-weight: 500;
                margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            .view-btn {
                font-size: 16px;
                color: rgba(var(--title-color), 1);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s ease;
                font-weight: 500;
            }
        }
        &:hover {
            &:after {
                left: -20px;
                top: 40px;
                transform: rotate(-1deg);
                transition: all 0.5s ease;
            }
            .service-content {
                .view-btn {
                    color: rgba(var(--theme-color2), 1);
                    transition: all 0.5s ease;
                }
            }
        }
    }
}

// app showcase service
.app-service {
    .row {
        > div {
            @media (max-width: 400px) {
                width: 100%;
            }
        }
    }
    .service-box {
        transition: all 0.5s ease;
        h3 {
            font-weight: 700;
            color: rgba(var(--title-color), 1);
            margin-bottom: 12px;
            margin-top: 30px;
        }
        p {
            margin-bottom: 0;
            color: rgba(var(--content-color), 1);
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .service-icon {
            position: relative;
            z-index: 1;
            &:after {
                content: "";
                width: 60px;
                height: 60px;
                border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
                position: absolute;
                background-color: rgba(var(--theme-color1), 0.1);
                left: 20px;
                top: 10px;
                z-index: -1;
                transition: all 0.5s ease;
            }
        }
        &:hover {
            .service-icon {
                &:after {
                    animation: rotate 5s normal linear infinite;
                }
            }
        }
        @media (max-width: 400px) {
            text-align: center;
            .service-icon {
                &:after {
                    left: 54%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

// ecommerce service
.ecommerce-service-sec {
    > div {
        padding: 45px 0 !important;
    }
    .service-box {
        display: flex;
        align-items: center;
        gap: 15px;
        .service-icon {
            width: 67px;
            height: 67px;
            border-radius: 100%;
            background-color: rgba(var(--theme-color1), 1);
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(var(--white), 1);
            i {
                font-size: 25px;
            }
        }
        .service-content {
            h3 {
                font-size: 22px;
                font-weight: 500;
                color: rgba(var(--white), 1);
                margin-bottom: 3px;
                @media (max-width: 1400px) {
                    font-size: 18px;
                }
            }
            p {
                font-size: 16px;
                color: rgba(var(--white), 1);
                margin-bottom: 0;
            }
        }
    }
}
