/*=====================
    Team Scss start
==========================*/

.app-team-sec {
    margin-bottom: -25px;
    .swiper {
        padding: 25px 0;
    }
    .team-box {
        padding: 15px;
        text-align: center;
        box-shadow: 13px 16px 30px rgba(4, 79, 79, 0.04);
        border-radius: 16px;
        transform: translateY(0);
        transition: all 0.5s ease;
        .team-img {
            border-radius: 16px;
            overflow: hidden;
        }
        h3 {
            color: rgba(var(--title-color), 1);
            font-weight: 700;
            margin-bottom: 8px;
            margin-top: 14px;
        }
        h5 {
            color: rgba(var(--theme-color3), 1);
            margin-bottom: 0;
            font-weight: 500;
        }
        &:hover {
            transform: translateY(-6px);
        }
    }
}

// fitness team section
.fitness-team-section {
    position: relative;
    .bag-img {
        position: absolute;
        right: 5%;
        bottom: -5%;
    }
    .team-box {
        display: flex;
        .team-img {
            width: calc(100% - 75px);
            position: relative;
            .share-options {
                padding: 15px 15px;
                background: rgba(var(--white), 0.5);
                backdrop-filter: blur(1.60181px);
                position: absolute;
                bottom: 20px;
                right: 20px;
                border-radius: 6px;
                height: 52px;
                overflow: hidden;
                transition: all 0.5s ease-in-out;
                li {
                    display: block;
                    a {
                        display: block;
                        line-height: 1;
                    }
                    i {
                        font-size: 22px;
                        color: rgba(var(--title-color), 1);
                    }
                    + li {
                        margin-top: 10px;
                    }
                }
                &:hover {
                    height: auto;
                    transition: height 0.5s ease;
                }
            }
        }
        .team-content {
            writing-mode: vertical-rl;
            h5 {
                font-weight: 500;
                color: rgba(var(--title-color), 1);
                margin-left: 5px;
            }
            h3 {
                font-size: 30px;
                font-weight: 500;
                color: rgba(var(--content-color), 0.6);
                margin-left: 12px;
            }
        }
    }
}
