/*=====================
    Team Scss start
==========================*/

.app-team-sec {
    margin-bottom: -25px;
    .swiper {
        padding: 25px 0;
    }
    .team-box {
        padding: 15px;
        text-align: center;
        box-shadow: 13px 16px 30px rgba(4, 79, 79, 0.04);
        border-radius: 16px;
        transform: translateY(0);
        transition: all 0.5s ease;
        .team-img {
            border-radius: 16px;
            overflow: hidden;
        }
        h3 {
            color: rgba(var(--title-color), 1);
            font-weight: 700;
            margin-bottom: 8px;
            margin-top: 14px;
        }
        h5 {
            color: rgba(var(--theme-color3), 1);
            margin-bottom: 0;
            font-weight: 500;
        }
        &:hover {
            transform: translateY(-6px);
        }
    }
}

// fitness team section
.fitness-team-section {
    position: relative;
    .bag-img {
        position: absolute;
        right: 5%;
        bottom: -5%;
    }
    .team-box {
        display: flex;
        .team-img {
            width: calc(100% - 75px);
            position: relative;
            .share-options {
                padding: 15px 15px;
                background: rgba(var(--white), 0.5);
                backdrop-filter: blur(1.60181px);
                position: absolute;
                bottom: 20px;
                right: 20px;
                border-radius: 6px;
                height: 52px;
                overflow: hidden;
                transition: all 0.5s ease-in-out;
                li {
                    display: block;
                    a {
                        display: block;
                        line-height: 1;
                    }
                    i {
                        font-size: 22px;
                        color: rgba(var(--title-color), 1);
                    }
                    + li {
                        margin-top: 10px;
                    }
                }
                &:hover {
                    height: auto;
                    transition: height 0.5s ease;
                }
            }
        }
        .team-content {
            writing-mode: vertical-rl;
            h5 {
                font-weight: 500;
                color: rgba(var(--title-color), 1);
                margin-left: 5px;
            }
            h3 {
                font-size: 30px;
                font-weight: 500;
                color: rgba(var(--content-color), 0.6);
                margin-left: 12px;
            }
        }
    }
}

// podcast team section
.podcast-team-sec {
    .row {
        > div {
            &:nth-last-child(-n + 2) {
                .team-content {
                    order: -1;
                    @media (max-width: 991px) {
                        order: 1;
                    }
                }
            }
            @media (max-width: 991px) {
                &:nth-child(even) {
                    .team-content {
                        order: -1;
                    }
                }
            }
        }
    }
    .team-box {
        display: flex;
        align-items: center;
        > * {
            width: 50%;
        }
        .team-content {
            padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
            h3 {
                font-size: 26px;
                color: rgba(var(--title-color), 1);
                margin-bottom: 0;
                font-weight: 500;
                margin-bottom: 5px;
                @media (max-width: 1199px) {
                    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                }
            }
            h4 {
                color: rgba(var(--theme-color2), 1);
                font-weight: 500;
                @media (max-width: 1199px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                }
            }
            p {
                font-weight: 500;
                color: rgba(var(--content-color), 1);
                margin: 26px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                @media (max-width: 1199px) {
                    font-size: 14px;
                    margin: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320))) 0;
                    -webkit-line-clamp: 3;
                }
                @media (max-width: 420px) {
                    display: none;
                }
            }
            ul {
                display: flex;
                align-items: center;
                gap: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
                a {
                    font-size: 20px;
                    color: rgba(var(--content-color), 1);
                    transition: all 0.5s ease;
                    @media (max-width: 1199px) {
                        font-size: 16px;
                    }
                    &:hover {
                        color: rgba(var(--theme-color2), 1);
                        transform: scale(1.3);
                        display: inline-block;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}
