/*=====================
    App Scss start
==========================*/
.app-section {
    .section-t-space {
        padding-left: 60px;
        padding-right: 60px;
    }
    .app-buttons {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 30px;
    }
    .app-images {
        .phone {
            position: absolute;
            right: 16%;
            bottom: 0;
        }
    }
}
