/*=====================
    App Scss start
==========================*/
.app-section {
    .section-space {
        padding: 100px 60px;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .app-buttons {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 30px;
    }
    .app-images {
        .phone {
            position: absolute;
            right: 6%;
            bottom: 0;
        }
        .blob-img {
            position: absolute;
            right: 11%;
            top: 13px;
            z-index: -1;
            animation: myroate 100s infinite;
        }
    }
}
