/*=====================
    Blog Scss start
==========================*/

.blog-style-1 {
    position: relative;
    .news-box {
        background: rgba(var(--white), 1);
        box-shadow: 0px 5px 30px rgba(var(--theme-color2), 0.1);
        border-radius: 5px;
        padding: calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320)))
            calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin: 20px;
        transition: all 0.5s ease;
        h4 {
            color: rgba(var(--content-color), 1);
            margin-bottom: 0;
        }
        p {
            font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;
            margin-top: calc(20px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--title-color), 1);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        a {
            margin-top: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
            font-size: 16px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            gap: 10px;
            color: rgba(var(--title-color), 1);
            width: max-content;
            margin-bottom: -8px;

            .arrow-icon {
                position: relative;
                top: -1px;
                transition: transform 0.5s ease;
                vertical-align: middle;
            }

            .arrow-icon--circle {
                transition: stroke-dashoffset 0.5s ease;
                stroke-dasharray: 95;
                stroke-dashoffset: 95;
            }
        }
        &:hover {
            transform: translateY(-8px);
            transition: all 0.5s ease;
            a {
                .arrow-icon {
                    transform: translate3d(5px, 0, 0);
                }

                .arrow-icon--circle {
                    stroke-dashoffset: 0;
                }
            }
        }
    }
    .swiper {
        margin: -20px;
    }
    .blog-effect {
        .line1 {
            position: absolute;
            left: 0;
        }
        .line2 {
            position: absolute;
            right: 0;
            top: -13%;
        }
    }
}

.blog-style-2 {
    margin-bottom: -25px;
    position: relative;
    .swiper {
        padding: 25px 0;
    }
    .blog-box {
        transform: translateY(0);
        transition: all 0.5s ease;
        .blog-img {
            border-radius: 5px;
            overflow: hidden;
        }
        h3 {
            color: rgba(var(--title-color), 1);
            font-weight: 500;
            margin-bottom: 0;
            font-size: 22px;
            transition: all 0.5s ease;
        }
        h5 {
            color: rgba(var(--content-color), 1);
            margin-top: 14px;
            font-weight: 500;
        }
        &:hover {
            transform: translateY(-6px);
            h3 {
                color: rgba(var(--theme-color1), 1);
            }
        }
    }
    .animated-effect {
        img {
            position: absolute;
            left: 0;
            top: 18%;
        }
    }
}
