/*=====================
    Blog Scss start
==========================*/

.blog-style-1 {
    .news-box {
        background: rgba(var(--white), 0.1);
        box-shadow: 0px 5px 30px rgba(var(--theme-color2), 0.1);
        border-radius: 5px;
        padding: 45px 30px;
        margin: 20px;
        transition: all 0.5s ease;
        h4 {
            color: rgba(var(--content-color), 1);
            margin-bottom: 0;
        }
        p {
            font-size: 20px;
            font-weight: 500;
            margin-top: 35px;
            color: rgba(var(--title-color), 1);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        a {
            margin-top: 50px;
            font-size: 16px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            gap: 10px;
            color: rgba(var(--title-color), 1);
            width: max-content;

            .arrow-icon {
                position: relative;
                top: -1px;
                transition: transform 0.5s ease;
                vertical-align: middle;
            }

            .arrow-icon--circle {
                transition: stroke-dashoffset 0.5s ease;
                stroke-dasharray: 95;
                stroke-dashoffset: 95;
            }

            &:hover {
                .arrow-icon {
                    transform: translate3d(5px, 0, 0);
                }

                .arrow-icon--circle {
                    stroke-dashoffset: 0;
                }
            }
        }
        &:hover {
            transform: translateY(-8px);
            transition: all 0.5s ease;
        }
    }
    .swiper {
        margin: -20px;
    }
}
