/**=====================
     footer section scss
==========================**/
.footer-style-1 {
    background-color: #000248;
    p {
        font-size: 16px;
        font-weight: 500;
    }
    .marketing-title {
        p {
            width: 50%;
            font-size: 16px;
            font-weight: 400;
            color: rgba(var(--white), 0.6);
        }
        h2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(var(--white), 0.2);
        }
    }
    .social-links {
        display: flex;
        align-items: center;
        gap: 10px;
        li {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(var(--white), 0.1);
            border-radius: 5px;
            i {
                font-size: 24px;
            }
            a {
                color: rgba(var(--white), 1);
            }
        }
    }
}
