/**=====================
     header scss
==========================**/

header {
    padding-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    .header-logo {
        @media (max-width: 576px) {
            img {
                width: 76%;
            }
        }
    }
    .container {
        display: flex;
        align-items: center;
    }
    .bar-option {
        background: rgba(var(--white), 0.3);
        box-shadow: 0px 14px 20px rgba(var(--theme-color1), 0.04);
        backdrop-filter: blur(2px);
        border-radius: 5px;
        padding: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)))
            calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
        transition: all 0.5s ease;
        i {
            color: rgba(var(--black), 1);
            font-weight: 600;
        }
        &:hover {
            transition: all 0.5s ease;
            transform: translateY(-5px);
            box-shadow: 0px 7px 20px rgba(var(--theme-color1), 0.08);
        }
    }
}
