/**=====================
     logo section scss
==========================**/
.logo-marketing {
    .logo-slider {
        filter: drop-shadow(0px 24px 30px rgba(var(--theme-color2), 0.07));
        .clipath-wrap {
            padding: 45px 65px;
            clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
            background-color: rgba(var(--white));
            .logo-img {
                text-align: center;
            }
        }
    }
}
