/**=====================
     logo section scss
==========================**/
.logo-marketing {
    .swiper {
        padding: 35px 65px;
        box-shadow: 0px 24px 30px rgba(var(--theme-color2), 0.07);
    }
    .logo-img {
        text-align: center;
    }
}
