/*=====================
    pricing Scss start
==========================*/
.marketing-pricing-sec {
    position: relative;
    overflow: hidden;
    .container {
        padding: 0 50px;
        @media (max-width: 1367px) {
            padding: 0 15px;
        }
    }
    .row {
        margin: -30px;
        @media (max-width: 767px) {
            margin: -10px;
        }
        .pricing-box {
            margin: 30px;
            @media (max-width: 767px) {
                margin: 10px;
            }
        }
    }
    .swiper-slide-next {
        .pricing-box {
            position: relative;
            &:after {
                border: 2px solid rgba(var(--black), 1);
                content: "";
                height: 90%;
                position: absolute;
                width: 90%;
                z-index: -1;
                left: -20px;
                top: 61px;
                transition: all 0.5s ease;
                transform: rotate(1deg);
                @media (max-width: 767px) {
                    display: none;
                }
            }
            .price-btn {
                background-color: rgba(var(--theme-color2), 1);
                color: rgba(var(--white), 1);
            }
        }
    }
    .animated-shapes {
        .shape1 {
            position: absolute;
            left: -4%;
            top: 0;
        }
        .shape2 {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .shape3 {
            position: absolute;
            bottom: 0;
            left: 15%;
            animation: mymove 5s infinite;
        }
    }
    .pricing-box {
        filter: drop-shadow(0px 24px 30px rgba(var(--theme-color2), 0.07));
        > div {
            clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
            padding: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)))
                calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)))
                calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
            background-color: rgba(var(--white), 1);
        }
        .price-title {
            padding: 0 calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
            h2 {
                font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 700;
            }
            h4 {
                font-weight: 500;
                margin-bottom: 16px;
            }
        }
        .btn {
            width: 100%;
            display: flex;
            justify-content: center;
            border-radius: 0;
            margin-bottom: 18px;
            &.btn-light {
                color: rgba(var(--theme-color2), 1);
                background: rgba(var(--theme-color2), 0.1);
                border: none;
                &:hover {
                    background: rgba(var(--theme-color2), 1);
                    color: rgba(var(--white), 1);
                    transition: all 0.5s ease;
                }
            }
        }
        .subs-detail {
            padding: 0 calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
            h2 {
                color: rgba(var(--theme-color3), 1);
                font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
                margin-bottom: 16px;
                span {
                    font-size: 18px;
                }
            }
        }
        .pricing-details {
            margin-top: 24px;
            padding: 0 calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
            li {
                color: rgba(var(--content-color), 1);
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 10px;
                + li {
                    margin-top: 15px;
                }
            }
        }
    }
}

// application pricing
.app-pricing-sec {
    position: relative;
    overflow: hidden;
    .price-effect1 {
        position: absolute;
        left: -40px;
        bottom: 20px;
        transform: scaleX(-1) rotate(20deg);
    }
    .price-effect2 {
        position: absolute;
        right: -5%;
        top: 4%;
    }
    .toggle-button-sec {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        justify-content: center;
        position: relative;
        margin-bottom: 38px;
        h4 {
            margin-bottom: 0;
            color: rgba(var(--title-color), 1);
        }
        .save-text {
            h2 {
                font-weight: 300;
                color: rgba(var(--theme-color3), 1);
                font-family: $space-grotesk;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            img {
                position: absolute;
                top: -30px;
                left: 55%;
            }
        }
    }
    .swiper {
        padding: 50px;
        .swiper-slide-active {
            transform: scale(1.15);
            .pricing-box {
                background-color: rgba(var(--theme-color1), 1);
                color: rgba(var(--white), 1);
                p {
                    color: rgba(var(--white), 1);
                }
                .pricing-details {
                    li {
                        color: rgba(var(--white), 0.7);
                        h4 {
                            span {
                                color: rgba(var(--white), 1);
                            }
                        }
                        i {
                            color: rgba(var(--white), 1);
                        }
                    }
                }
                .btn {
                    background: rgba(var(--theme-color3), 1);
                }
            }
        }
    }
    .pricing-box {
        background-color: rgba(#f4f4f6, 0.5);
        padding: 40px 30px;
        border-radius: 16px;
        .price-title {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 20px;
            img {
                border-radius: 14px;
            }
            h5 {
                margin-bottom: 0;
            }
            h2 {
                margin-bottom: 0;
                margin-top: 5px;
                span {
                    font-size: 16px;
                }
            }
        }
        p {
            font-size: 18px;
            color: rgba(var(--content-color), 1);
            margin-bottom: 0;
        }
        .pricing-details {
            padding-top: 25px;
            margin-top: 25px;
            border-top: 1px solid rgba(#52526c, 0.2);
            li {
                display: flex;
                align-items: center;
                color: rgba(var(--content-color), 1);
                font-size: 18px;
                font-weight: 500;
                i {
                    color: #009090;
                    margin-right: 16px;
                    font-size: 20px;
                }
                h4 {
                    margin-bottom: 0;
                }
                span {
                    color: rgba(var(--title-color), 1);
                }
                + li {
                    margin-top: 10px;
                }
            }
        }
        .btn {
            margin-top: 16px;
        }
    }
}
