/*=====================
    pricing Scss start
==========================*/
.pricing-box {
    padding: 30px 44px;
    background-color: rgba(var(--white), 1);
    box-shadow: 0px 24px 30px rgba(var(--theme-color2), 0.07);
    > div {
    }
}
