/*=====================
    Process Scss start
==========================*/
.process-box {
    .icon-part {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: linear-gradient(44.99deg, #ebeaea 14.61%, #ffffff 85.32%);
        margin-left: 55px;
        box-shadow: -20px 20px 20px 0px #dddd;
    }
}
