/*=====================
    Process Scss start
==========================*/
.process-box {
    .icon-part {
        .icon {
            --roundsize: 80px;
            width: var(--roundsize);
            height: var(--roundsize);
            border-radius: 100%;
            background: linear-gradient(44.99deg, #ebeaea 14.61%, #ffffff 85.32%);
            margin-left: 55px;
            box-shadow: -20px 20px 20px 0px #dddd;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:after {
                width: calc(var(--roundsize) - 4px);
                height: calc(var(--roundsize) - 4px);
            }
        }
    }
}
