/*=====================
    Team Scss start
==========================*/

.app-team-sec {
    .team-box {
        padding: 15px;
        h3 {
            color: rgba(var(--title-color), 1);
        }
        h5 {
            color: rgba(var(--theme-color3), 1);
            margin-bottom: 0;
        }
    }
}
