/*=====================
    Team Scss start
==========================*/
.join-team-section {
    background-image: url(../images/marketing/team-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    @media (max-width: 1199px) {
        background-size: cover;
    }
    @media (max-width: 991px) {
        background-position: top;
    }

    .join-effect {
        .join-effect1 {
            position: absolute;
            left: -60px;
            bottom: -40px;
        }
        .join-effect2 {
            position: absolute;
            right: -60px;
            top: -40px;
        }
    }
    .team-joining-sec {
        display: flex;
        justify-content: center;
        margin-bottom: -70px;
        position: relative;
        z-index: 1;
        @media (max-width: 1400px) {
            margin-bottom: 0;
        }
        img {
            @media (max-width: 1600px) {
                width: 19%;
            }
        }
        &:after {
            content: "";
            background: radial-gradient(50% 50% at 50% 50%, rgba(var(--black), 0.2) 0%, rgba(var(--black), 0) 100%);
            width: 40%;
            height: 40px;
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            z-index: -1;
            @media (max-width: 991px) {
                display: none;
            }
        }
        .postion-detail {
            @media (max-width: 991px) {
                display: flex;
                flex-wrap: wrap;
                gap: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
            }
            @media (max-width: 767px) {
                padding: 0 15px;
            }
            li {
                position: absolute;
                font-size: 18px;
                font-weight: 500;
                @media (max-width: 991px) {
                    position: relative;
                }
                @media (max-width: 768px) {
                    width: 46%;
                }
                @media (max-width: 768px) {
                    width: 100%;
                    margin-left: 10px;
                }
                a {
                    background-color: rgba(var(--white), 0.3);
                    color: rgba(var(--white), 1);
                    padding: 15px 30px;
                    border-radius: 3px;
                    display: block;
                    animation: up-down 5s ease-out infinite;
                    @media (max-width: 1400px) {
                        padding: 10px 30px;
                    }
                    @media (max-width: 991px) {
                        animation: none;
                    }
                }
                span {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: rgba(var(--white), 1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgba(var(--theme-color2), 1);
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                    @media (max-width: 1400px) {
                        width: 35px;
                        height: 35px;
                    }
                }
                &:first-child {
                    left: 14%;
                    top: 32%;
                    @media (max-width: 991px) {
                        left: unset;
                        top: unset;
                    }
                }
                &:nth-child(2) {
                    left: 57%;
                    top: 4%;
                    a {
                        animation: up-down 4s ease-out infinite;
                        @media (max-width: 991px) {
                            animation: none;
                        }
                    }
                    @media (max-width: 991px) {
                        left: unset;
                        top: unset;
                    }
                }
                &:nth-child(3) {
                    right: 14%;
                    top: 35%;
                    @media (max-width: 991px) {
                        right: unset;
                        top: unset;
                    }
                    a {
                        animation: up-down 6s ease-out infinite;
                        @media (max-width: 991px) {
                            animation: none;
                        }
                    }
                }
            }
        }
    }
}
