/*=====================
    Testimonial Scss start
==========================*/
.testimonial-style-1 {
    .slider-5 {
        margin: -20px 0;
    }
    .marketing-title {
        position: relative;
        p {
            width: 36%;
            @media (max-width: 1400px) {
                width: 56%;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        .arrow-effect {
            position: absolute;
            left: 20%;
            top: -40px;
            @media (max-width: 1400px) {
                left: 11%;
            }
        }
    }
    .testimonial-box {
        box-shadow: 0px 24px 30px rgba(var(--theme-color2), 0.07);
        background-color: rgba(var(--white), 1);
        padding: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320))) 20px;
        position: relative;
        margin: 20px 0;
        .quote-img {
            position: absolute;
            right: 30px;
            bottom: 18%;
            @media (max-width: 400px) {
                display: none;
            }
        }
        p {
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;
            color: rgba(var(--content-color), 1);
        }
        .user-info {
            display: flex;
            align-items: center;
            gap: 15px;
            h5 {
                margin-bottom: 0;
            }
        }
    }
}

// app
.testimonial-style-2 {
    .slider-5 {
        margin: -20px 0;
    }
    .app-title {
        position: relative;
        p {
            width: 36%;
            @media (max-width: 1400px) {
                width: 56%;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        .arrow-effect {
            position: absolute;
            left: 20%;
            top: -40px;
            @media (max-width: 1400px) {
                left: 11%;
            }
        }
    }
    .testimonial-box {
        box-shadow: 0px 24px 30px rgba(var(--theme-color2), 0.07);
        background-color: rgba(var(--white), 1);
        padding: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320))) 20px;
        position: relative;
        margin: 20px 0;
        .quote-img {
            position: absolute;
            right: 30px;
            bottom: 18%;
            @media (max-width: 400px) {
                display: none;
            }
        }
        p {
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;
            color: rgba(var(--content-color), 1);
        }
        .user-info {
            display: flex;
            align-items: center;
            gap: 15px;
            h3 {
                color: rgba(var(--title-color), 1);
            }
            h4 {
                color: rgba(var(--content-color), 1);
            }
        }
    }
}
